@import url('https://use.typekit.net/eew0kjc.css');


/*detail*/  

  body{ 
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
  margin:0; 
  padding:0;  
  line-height: 160%;
  }
  
  h1{
    font-family: 'montserrat', sans-serif; 
      font-size:96px;
      font-weight: 700;
  }
  h2{
    font-family: 'montserrat', sans-serif; 
      font-size:48px;
      font-weight: 700;
      line-height: 50px;
      text-align:center;
  }
  
  h3{
    font-family: 'montserrat', sans-serif; 
      font-size:32px;
      font-weight: 700;
      text-align: center;
      line-height: 30px;
  }

  .logo{
    color: #FFF2F2;
  }

  .site-text{
    margin: 0 20px;
  padding-bottom: 20px;

  }

.card{
  background-color: white;
  padding: 30px;
}

.card_2{
  background-color: white;
  padding: 30px;
}

.site-button{
  text-align: center;
}

button{
  padding: 10px 15px;
  margin: 10px;
  border:solid;
   border-radius: 25px;
  background: none;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#5244F2;
    }
    button:hover {
      color: #FBE886;
      background: #FBE886;
    }
    
button a{
  text-decoration: none;
  color:black;
}





  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1.8em;
    gap:1em;
  }

  .row-posters {
    padding: 0 3em;
  }

  
  
  .column {
    flex: 1;
  }
  
  .column_2 {
    flex: 2;
    
  }

  .column_3 {
    flex: 1;
  }

  .column img{ 
    height: 100%;
    object-fit: cover;
  }
  
  /*nav*/

  :root{ 
    --background:#5244F2;
    }
    
    *, *::before, *::after { 
    box-sizing:border-box;
    }

  .navigation{ 
  background: var(--background);
  text-align: center; 
  position: fixed;
  width:100%;
  z-index:999;
  }
  
  .nav-toggle{ 
  display:none;
  }
  
  .nav-toggle-label{ 
  position: absolute; 
  top:0; 
  left:0; 
  margin-left: 1em; 
  height: 100%;
  display: flex; 
  align-items: center;
  }
  
  .nav-toggle-label span{ 
    color:white;
    font-size: 1.5em;
    }
  
  nav{ 
  position: absolute; 
  text-align: left; 
  top:100%; 
  left:0;
  background: var(--background);
  width:100%;
  transform:scale(1,0);
  transition:transform 400ms ease-in-out;
  transform-origin:top; 
  
   
  }
  
  nav ul { 
  margin:0; 
  padding:0; 
  list-style:none;
  }
  
  nav li{ 
  margin-bottom:1em; 
  margin-left: 1em;
  }
  
  nav a { 
  color: #FFF2F2; 
   text-decoration:none; 
   font-family: 'montserrat', sans-serif;
   font-size: 14px;
    text-transform: uppercase;
    opacity:0;
  }
  
  nav a:hover{ 
  color: #FBE886;
  }
  
  .nav-toggle:checked ~ nav { 
  transform:scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a{ 
  opacity: 1;
  transition: opacity 250 ease-in-out 250;
  }
  

/*hero*/ 
.hero-image{
background-image: url(images/hero.png);
height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text { 
  line-height: 1.4em;
  text-align: center; 
  color:#FFF2F2;
  
  }

  /*campaign*/

  .campaign {
background-color: #8EA7E9;
position: relative;
padding-top: 1.2em;
padding-bottom: 1.2em;
  }

  .our-campaign{ 
    text-align: center;
    padding:0 20.5em;
    padding-bottom: 1.2em;
    
  }

  .our-campaign-mobile{ 
    display:none;
  }

  .poster{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 100%;

  }
  
  /*fault*/
  .fault{
    padding: 50px 70px;
  }

  /*narcissism*/
  .narcissism{
  background-color: #8EA7E9;
    padding: 50px 70px;

  }

  /*narcissistic abuse*/
  .narcissistic-abuse{
    padding: 50px 70px;
  }

  /*taking steps*/
  .taking-steps{
    padding: 50px 100px;
    background-color: #8EA7E9;
  }

/*reminder*/ 
.reminder{
  padding: 50px 300px;
}

.reminder-mobile{
  display:none;
}

/*footer*/

footer{
  background-color: #5244F2;
  text-align: center;
  padding:25px 0;
}

footer .media li{ 
  list-style: none;
  display:inline;
  
  }

  footer .media li a { 
    padding: 0 10px;
  }

  .twitter{ 
    width:3%;
  }
  .facebook{ 
    width:2.5%;
  }
  .instagram{ 
    width:2.5%;
  }
  .youtube{ 
    width:3%;
  }

  .copyright{
    color:#FFF2F2
  }

  /*media query for desk top*/
  
  @media screen and (min-width:600px) { 
    .nav-toggle-label {
      display:none;
    }
    
    .navigation{
      display:grid; 
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo{ 
      grid-column: 2/3;
  }
    nav{ 
    all: unset; 
     grid-column:3/4;
     display:flex; 
     justify-content:flex-end;
     align-items:center; 
    }
    nav ul {
      display:flex; 
      justify-content: flex-end;
    }
    nav li{
      margin-left:3em; 
      margin-bottom: 0; 
    }
    nav a { 
     opacity:1; 
      position: relative;
    }
    
  }

  @media (max-width: 600px) { 
  
    body{ 
  display: block; 
   grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }

  .row-posters {
    display: block; 
    gap: 1em;
  }

.our-campaign{
  display: none;
}
  .our-campaign-mobile{ 
    text-align: center;
    
    padding-bottom: 1.2em;
    
  }

 
  .reminder{
    display: none;
  }
  
  .change{
    padding-bottom: 1.2em;
  }

  
  }
      