@import url('https://use.typekit.net/eew0kjc.css');

/*force*/

/*detail*/  

  body{ 
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
  margin:0; 
  padding:0;  
  line-height: 160%;
  }
  
  h1{
    font-family: 'montserrat', sans-serif; 
      font-size:96px;
      font-weight: 700;
  }
  h2{
    font-family: 'montserrat', sans-serif; 
      font-size:48px;
      font-weight: 700;
      line-height: 50px;
      text-align:center;
  }
  
  h3{
    font-family: 'montserrat', sans-serif; 
      font-size:32px;
      font-weight: 700;
      text-align: center;
      line-height: 30px;
  }

  .logo{
    color: #FFF2F2;
  }

  .site-text{
    margin: 0 20px;
  padding-bottom: 20px;

  }

.card{
  background-color: white;
  padding:30px;
  
  
}


.site-button{
  text-align: center;
}

button{
  padding: 10px 15px;
  margin: 10px;
  border:solid;
   border-radius: 25px;
  background: none;
  text-transform: uppercase;
  font-family: 'montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:#5244F2;
    }
    button:hover {
      color: #FBE886;
      background: #FBE886;
    }
    button:active{
      color:#FFF2F2;
      background: #FFF2F2;
    }
    
button a{
  text-decoration: none;
  color:black;
}

/* test */

  .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 1.8em;
    gap:1em;
  }

  .row-posters {
    padding: 0 3em;
  }


  
  
  .column {
    flex: 1;
  }
  
  .column_2 {
    flex: 2;
    
  }

  .column_3 {
    flex: 1;
  }

  .column img{ 
    height: 100%;
    object-fit: cover;
    width:100%;
  }

  .poster-col{
    margin:15px;
  }

  
  /*nav*/

  :root{ 
    --background:#5244F2;
    }
    
    *, *::before, *::after { 
    box-sizing:border-box;
    }

  .navigation{ 
  background: var(--background);
  text-align: center; 
  position: fixed;
  width:100%;
  z-index:999;
  }
  
  .nav-toggle{ 
    display: none
    }
    
    .nav-toggle-label{ 
    position: absolute; 
    top:0; 
    left:0; 
    margin-left: 1em; 
    height: 100%;
    display: flex; 
    align-items: center;
    }
    
    .nav-toggle-label span{ 
    color:white;
    font-size: 1.5em;
    }
  
  nav{ 
  position: absolute; 
  text-align: left; 
  top:100%; 
  left:0;
  background: var(--background);
  width:100%;
  transform:scale(1,0);
  transition:transform 400ms ease-in-out;
  transform-origin:top; 
  
   
  }
  
  nav ul { 
  margin:0; 
  padding:0; 
  list-style:none;
  }
  
  nav li{ 
  margin-bottom:1em; 
  margin-left: 1em;
  }
  
  nav a { 
  color: #FFF2F2; 
   text-decoration:none; 
   font-family: 'montserrat', sans-serif;
   font-size: 14px;
    text-transform: uppercase;
    opacity:0;
  }
  
  nav a:hover{ 
  color: #FBE886;
  }
  
  .nav-toggle:checked ~ nav { 
  transform:scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a{ 
  opacity: 1;
  transition: opacity 250 ease-in-out 250;
  }
  

/*hero*/ 
.hero-image{
background-image: url(images/hero.png);
height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text { 
  line-height: 1.4em;
  text-align: center; 
  color:#FFF2F2;
  
  }

  .hero-text-mobile { 
    display: none;
    
    }

  /*campaign*/

  .campaign {
background-color: #8EA7E9;
position: relative;
padding-top: 1.2em;
padding-bottom: 1.2em;
  }

  .our-campaign{ 
    text-align: center;
    padding:0 20.5em;
    padding-bottom: 1.2em;
    
  }

  .our-campaign-mobile{ 
    display:none;
  }

  .poster{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 100%;

  }
  
  /*fault*/
  .fault{
    padding: 50px 70px;
    background-image: url(/images/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .fault-mobile{
    display:none;
  }

  /*narcissism*/
  .narcissism{
  background-color: #8EA7E9;
    padding: 50px 70px;

  }

  .narcissist-mobile{
    display: none;
  }

  .narcissist-types-mobile{
    display:none;
  }
  /*narcissistic abuse*/
  .narcissistic-abuse{
    padding: 50px 70px;
    background-image: url(/images/background\ 4.png);
    background-repeat: no-repeat;
    background-position: center right;
  }

  .narcissistic-abuse-articles-mobile{
    display:none;
    
  }
 

  /*taking steps*/
  .taking-steps{
    padding: 50px 100px;
    background-color: #8EA7E9;
  }

 .self-care-mobile{
  display:none;
 }

/*reminder*/ 
.reminder{
  padding: 50px 300px;
  background-image: url(/images/background\ 3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.reminder-mobile{
  display:none;
}

/*footer*/

footer{
  background-color: #5244F2;
  text-align: center;
  padding:25px 0;
}

footer .media li{ 
  list-style: none;
  display:inline;
  
  }

  footer .media li a { 
    padding: 0;
  }

  .icon {
    position:relative;
    display: inline-block;
    background-repeat: no-repeat;
   
  }


  .twitter{ 
    width:80px;
    height:80px;
    background-image: url(/images/twitter.svg);
    background-size: 65%;
  }

  .twitter:hover{
    width:80px;
    height:80px;
    background-image: url(/images/twitter\ 2.svg);
    background-size: 65%;
  }

  .facebook{ 
    width:80px;
    height:80px;
    background-image: url(/images/facebook.svg);
    background-size: 57%;
  }

  .facebook:hover{
    background-image:url(/images/facebook\ 2.svg);
    width:80px;
    height:80px;
    background-size: 57%;
  }

  .instagram{ 
    width:80px;
    height:80px;
    background-image: url(/images/instagram.svg);
    background-size: 57%;
  }

  .instagram:hover{ 
    width:80px;
    height:80px;
    background-image: url(/images/instagram\ 2.svg);
    background-size: 57%;
  }


  .youtube{ 
    width:80px;
    height:80px;
    background-image: url(/images/youtube.svg);
    background-size: 65%;
    background-position: top 15% left;
  }

  .youtube:hover{ 
    width:80px;
    height:80px;
    background-image: url(/images/youtube\ 2.svg);
    background-size: 65%;
    background-position: top 15% left;
  }

  .copyright{
    color:#FFF2F2
  }

  /*media query for desk top*/
  
  @media screen and (min-width:600px) { 
    .nav-toggle-label {
      display:none;
    }
    
    .navigation{
      display:grid; 
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo{ 
      grid-column: 2/3;
  }
    nav{ 
    all: unset; 
     grid-column:3/4;
     display:flex; 
     justify-content:flex-end;
     align-items:center; 
    }
    nav ul {
      display:flex; 
      justify-content: flex-end;
    }
    nav li{
      margin-left:3em; 
      margin-bottom: 0; 
    }
    nav a { 
     opacity:1; 
      position: relative;
    }
    
  }

  @media (max-width: 600px) { 

    
  
  
    body{ 
  display: block; 
   grid-template-columns: repeat(1, 1fr);
    
  }

  .hero-text { 
    display:none;
    
    }
  
    .hero-text-mobile { 
      display:block;
      line-height: 6em;
      text-align: center; 
      color:#FFF2F2;
      
      }


      
  .row-posters {
    display: block; 
    
  }

  .row-reverse {
    flex-direction: row-reverse;
  }



  .our-campaign{ 
    display:block;
    text-align: center;
    display:block;
    padding: 1.2em 20px;
    
  }

  .fault{
    display:none
  }

  .fault-mobile{
    display:block;
    padding: 1.2em 20px;
    background-image: url(/images/background\ 1.png);
    background-repeat: no-repeat;
    background-position: 13% 140%;
    
  }

  
  
    .narcissism{
      background-color: #8EA7E9;
      display:block;
      padding: 1.2em 20px;
    }

    .narcissist{
      display: none;
    }

    .narcissist-mobile{
      display: block;
    }

.narcissist-types{
  display:none;
}

    .narcissist-types-mobile{
      display:block;

    }
  

  
   
   .narcissistic-abuse{
    display:block;
    padding: 1.2em 20px;
    
  }

  .narcissistic-abuse-articles{
    display:none;
    
  }
  .narcissistic-abuse-articles-mobile{
    display:block;
    
  }

  .taking-steps{
   display:block;
   background-color: #8EA7E9;
   padding: 1.2em 20px;
  }
 
  
 .self-care{
  display:none;
 }
 
 .self-care-mobile{
  display:block;
 }
  
  .reminder{
    display:block;
    padding: 1.2em 20px;
    background-image: url(/images/background\ 3.png);
  background-repeat: no-repeat;
  background-position: 85%;
  }

  .twitter{ 
    width:80px;
    height:80px;
    background-image: url(/images/twitter.svg);
    background-size: 65%;
  }

  
  .facebook{ 
    width:80px;
    height:80px;
    background-image: url(/images/facebook.svg);
    background-size: 57%;
  }
  .instagram{ 
    width:80px;
    height:80px;
    background-image: url(/images/instagram.svg);
    background-size: 57%;
  }
  .youtube{ 
    width:80px;
    height:80px;
    background-image: url(/images/youtube.svg);
    background-size: 65%;
    background-position: top 15% left;
  }
  
  }
      